<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img src="../../assets/cms.png" alt="" width="50px">
        <button mat-button routerLink=''>CMSHosting</button>
        
        <span class="spacer"></span>
        <button mat-button routerLink='/home'>Home</button>
        <button mat-button routerLink='/template'>Templates</button>
        <button mat-button routerLink='/socials'>Socials</button>
        <button mat-button routerLink='/login'>Login</button>
        <button mat-button routerLink='/register'>Register</button>
    </mat-toolbar-row>
</mat-toolbar>
